@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

img {display: block;}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    max-width: 1300px;
    height: 700px;
    margin: 5em auto 0;
}

.card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    max-width: max-content;
    margin: 0 20px;
}

.card__img-wrapper {position: relative;}

.card__img {
    width: 100%;
    max-width: 280px;
    max-height: 420px;
}

img.card__img.-sale {
    width: 100px;
    position: absolute;
    transform: translate(5px, -35px);
    bottom: 0;
    left: 0;
}

img.card__img.-bluray {
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-90px, 136px);
}

.card__title {
    color: #616161;
    font-size: 21pt;
    text-align: center;
    max-width: 255px;
    margin: 0;
}

.card__price {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
    font-size: x-large;
    color: #000;
}

.card__price-sale {
    color: #868282;
    text-decoration: line-through;
    padding-left: 13px;
}

.card__btn-buy {margin: 10px auto;}

@media screen and (max-width: 450px) {
    #cards {
        width: 100%;
        height: auto;
    }
}


/** Star Rating by Jacob Lindahl **/
.card__rating {
    display: none;
    font-size: 30px;
    font-weight: bold;
    color: #ee0;
    white-space: nowrap;
}
.card__rating .star {
    display: inline-block;
    position: relative;
    letter-spacing: 0.05em;
}
.card__rating .star::before {
    display: inline-block;
    color: #aaa;
    content: '☆';
    width: 1em;
    height: 1em;
}
.card__rating .star::after {
    display: inline-block;
    position: absolute;
    content: '★';
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
    transition: all 0.1s linear;
    overflow: hidden;
}
.card__rating:not([disabled]) .star:hover::after,
.card__rating .star.active::after {
    opacity: 1;
    width: auto;
    height: auto;
}
.card__rating .star.active.half::after {width: 0.4em;}


.border {
	position: relative;
	background: #fff;
}

.border:before, .border:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.border:after {
	filter: blur(50px);
}

/* .gradient-border {
    --border-width: 3px;
    position: relative;
    background: #fff;
    border-radius: var(--border-width);
  }
  .gradient-border::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  } */